---
- name: Morpheus UI | Install Morpheus
  yum:
      name: "{{ morpheus_package_centos }}"
      state: present
#  notify: Morpheus Package Reconfigure

- name: Morpheus UI | Install Morpheus Offline
  yum:
      name: "{{ morpheus_offline_package_centos }}"
      state: present
#  notify: Morpheus Package Reconfigure