{
  "mysql": {
    "root_password": "{{ morpheussec.mysql.root_password }}",
    "morpheus_password": "{{ morpheussec.mysql.morpheus_password }}",
    "ops_password": "{{ morpheussec.mysql.ops_password }}"
  },
  "rabbitmq": {
    "morpheus_password": "{{ rabbit_morphpass }}",
    "queue_user_password": "{{ rabbit_queuepass }}",
    "cookie": "{{ rabbit_cookie }}"
  }
}
