appliance_url '{{ appliance_url }}'
{% if morpheus_mysql_external == true %}
mysql['enable'] = false
mysql['mysql_url_overide'] = 'jdbc:mysql://{% for minion in groups[morpheus_db_group] %}{{ hostvars[minion]['ansible_all_ipv4_addresses'][0] }}:3306{% if not loop.last %},{% endif %}{% endfor %}/morpheusdb?autoReconnect=true&useUnicode=true&characterEncoding=utf8&failOverReadOnly=false&useSSL=false'
mysql['morpheus_db'] = '{{ morpheus_db }}'
mysql['morpheus_db_user'] = '{{ morpheus_db_user }}'
mysql['morpheus_password'] = '{{ morpheus_db_pass }}'
{% endif %}
{% if morpheus_rabbitmq_external == true %}
rabbitmq['enable'] = false
rabbitmq['vhost'] = '{{ rabbitmq_vhost_name }}'
rabbitmq['queue_user'] = '{{ rabbitmq_user }}'
rabbitmq['queue_user_password'] = '{{ rabbitmq_password }}'
rabbitmq['host'] = '{{ morpheus_rabbitmq_lb }}'
rabbitmq['port'] = '5672'
rabbitmq['stomp_port'] = '61613'
rabbitmq['heartbeat'] = 50
{% else %}
{% if groups[morpheus_group] | length > 1 and morpheus_rabbitmq_external == false %}
rabbitmq['host'] = '0.0.0.0'
rabbitmq['nodename'] = rabbit@{{ ansible_hostname }}
{% endif %}
{% endif %}
{% if morpheus_elastic_external == true %}
elasticsearch['enable'] = false
elasticsearch['cluster'] = '{{ morpheus_elastic_cluster_name }}'
elasticsearch['es_hosts'] = { {% for minion in morpheus_elastic_hosts %}
'{{ minion['host'] }}' => {{ minion['port'] }}{% if not loop.last %},{% endif %}
{% endfor %} }
{% else %}
{% if groups[morpheus_group] | length > 1 %}
elasticsearch['es_hosts'] = { {% for minion in groups[morpheus_group] %}
'{{ hostvars[minion]['ansible_all_ipv4_addresses'][0] }}' => 9200{% if not loop.last %},{% endif %}
{% endfor %} }
elasticsearch['host'] = '0.0.0.0'
elasticsearch['node_name'] = '{{ ansible_hostname }}'
{% endif %}
{% endif %}
{% if morpheus_elastic_tls == true %}
elasticsearch['use_tls'] = true
{% endif %}